[project]
	description = ????????????????
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Bronts
[access "refs/for/refs/*"]
	read = group user/Bronts
	push = group user/Bronts
	label-Code-Review = -2..+2 group user/Bronts
	label-Verified = -1..+1 group user/Bronts
	rebase = group user/Bronts
	removeReviewer = group user/Bronts
	submit = group user/Bronts
[access "refs/heads/*"]
	read = group user/Bronts
	create = group user/Bronts
	push = +force group user/Bronts
	pushMerge = group user/Bronts
[access "refs/tags/*"]
	push = group user/Bronts
	push = +force group user/Bronts
